<div id="aboutLink" class="contentLink" onclick="location.href='http://localhost:8080/about'">About</div>

<div id="weatherLink" class="contentLink" onclick="location.href='http://localhost:8080/weather'">Weather</div>